
* {
    margin: 4px 4px;
}

/******** NAVBAR ********/

nav {
    display: flex;
    justify-content: space-around;
    width: 405px;
    margin: 0px 0px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 1px;
    background-color: #FAF8ED;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    font-family: 'roboto', sans-serif;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 90px;
    height: 50px;
}

.select {
    color: #a7bf2e;
}
